/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&soft_off {
    hold-time-ms = <5000>;

    /delete-property/ split-peripheral-off-on-press;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_soft_off {
            bindings = <&soft_off>;
            key-positions = <0 53 54 11>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4        &kp N5                                                             &kp N6         &kp N7  &kp N8               &kp N9           &kp N0               &mt LS(EQUAL) EQUAL
&kp TAB    &kp Q   &kp W   &kp E   &kp R         &kp T                                                              &kp Y          &kp U   &kp I                &kp O            &kp P                &mt LS(MINUS) MINUS
&kp LCTRL  &kp A   &kp S   &kp D   &kp F         &kp G                                                              &kp H          &kp J   &kp K                &kp L            &mt LS(SEMI) SEMI    &mt LS(SQT) SQT
&kp LSHFT  &kp Z   &kp X   &kp C   &kp V         &kp B     &mt LS(LBKT) LEFT_BRACKET    &mt LS(RBKT) RIGHT_BRACKET  &kp N          &kp M   &mt LS(COMMA) COMMA  &mt LS(DOT) DOT  &mt LS(SLASH) SLASH  &lt 3 CAPS
                           &none   &kp LEFT_ALT  &kp LGUI  &lt 1 SPACE                  &lt 2 ENTER                 &kp BACKSPACE  &none   &none
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&none      &none      &none     &none      &none       &none                      &none  &kp N7  &kp N8  &kp N9   &kp LS(EQUAL)  &none
&kp GRAVE  &kp CARET  &kp AMPS  &kp STAR   &kp LPAR    &kp RPAR                   &none  &kp N4  &kp N5  &kp N6   &kp MINUS      &none
&kp TILDE  &kp EXCL   &kp AT    &kp HASH   &kp DOLLAR  &kp PRCNT                  &none  &kp N1  &kp N2  &kp N3   &kp ASTERISK   &none
&kp PIPE   &kp LBRC   &kp RBRC  &kp EQUAL  &kp PLUS    &kp MINUS  &none    &none  &none  &none   &kp N0  &kp DOT  &kp SLASH      &none
                                &none      &none       &none      &none    &none  &none  &none   &none
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&none  &none   &none    &none    &none    &kp HOME                       &kp HOME       &none         &none           &none          &none      &none
&none  &kp F1  &kp F2   &kp F3   &kp F4   &kp PAGE_UP                    &kp PAGE_UP    &kp LA(LEFT)  &none           &kp LA(RIGHT)  &none      &kp C_VOLUME_UP
&none  &kp F5  &kp F6   &kp F7   &kp F8   &kp PAGE_DOWN                  &kp PAGE_DOWN  &kp LEFT      &kp DOWN        &kp UP         &kp RIGHT  &kp C_VOLUME_DOWN
&none  &kp F9  &kp F10  &kp F11  &kp F12  &kp END        &none    &none  &kp END        &none         &msc SCRL_DOWN  &msc SCRL_UP   &none      &kp C_MUTE
                        &none    &none    &none          &none    &none  &none          &none         &none
            >;
        };

        config_layer {
            bindings = <
&none  &none  &none  &none  &none  &bt BT_DISC 0                             &bt BT_SEL 0  &none         &none         &none  &none  &none
&none  &none  &none  &none  &none  &bt BT_DISC 1                             &bt BT_SEL 1  &none         &none         &none  &none  &none
&none  &none  &none  &none  &none  &bt BT_DISC 2                             &bt BT_SEL 2  &none         &none         &none  &none  &none
&none  &none  &none  &none  &none  &bt BT_CLR_ALL  &bt BT_PRV    &bt BT_NXT  &bt BT_CLR    &none         &none         &none  &none  &none
                     &none  &none  &none           &none         &none       &out OUT_TOG  &out OUT_USB  &out OUT_BLE
            >;

            label = "Config";
        };
    };
};
